<section class="main_menu">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Battle</a>
        <a class="dropdown-item" href="#">Battle</a>
        <a class="dropdown-item" href="#">Create Account</a>
        <a class="dropdown-item" href="#">About us</a>
      </div>
    </div>
  </section>

