.main-box {
  background-image: url("../../assets/resources/tlo_main2.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  height: 40vh;
}

.logo-box {
  text-align: left;
  position: absolute;
  font-family: Arial Black;
  color: #0d000d;
}

.box-title_wall {
  text-align: center;
}

.meme_list {
  text-align: center;
  height: 20vh;
}

.menu-box {
  text-align: right;
  font-family: Arial Black;
  color: #0d000d;
}

