.start {
  background: #039be5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box-app{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
}
