<section class="box-title">
<h1>{{ title }}</h1>
</section>

<section class="box-main">
<img src="assets//resources/yoda.png">
</section>

<section class="box-app">
  <app-login (login)="toggle($event)" *ngIf="toggleComponent && !logged"></app-login>
  <app-registration (registration)="toggle($event)" *ngIf="!toggleComponent && !logged"></app-registration>
</section>

<section class="box-main">
  <h1 *ngIf="logged"> Witaj w YODA Service Chat<br> Jak możemy pomóc? <br><br><br><br><br><br></h1>

  <app-menu *ngIf="logged"></app-menu>
  <h1><br></h1>

  <button *ngIf="logged" (click)="logout()">Rozpocznij Chat</button>
  <button *ngIf="logged" onclick="location.href='/loldd'">das</button>
<button *ngIf="logged" (click)="logout()">Wyloguj</button>
<button *ngIf="logged" (click)="removeUser()">Usuń się</button>
</section>



