.box-app{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
}
